<html>
  <head>
    <meta charset="utf-8">
    <title>Network Visualization</title>
    {% block head %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet"  media="print" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>
  <body>
    <div>
      Home: <a href="/index">Home</a>
      Network: <a href="/network">Network</a>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
  </body>
</html>
